.chat
  .right-header
    .header-name
      .group-name
        = @group.name
      .member-date
        Member : 
        - @group.users.each do |user|
          = user.name
    .edit-button
      = link_to edit_group_path(@group), class: 'current-group__edit-btn' do
        Edit

  .main-field
    = render @messages
  
  .footer
    .contents
      = form_with model: [@group, @message], html: {class: "form__message"}, local: true do |f|
        .input-text
          = f.text_field :content, class: "form__content", placeholder: 'type a message'
          = f.label :image, class: "form__image" do
            = icon('fas', 'image')
            = f.file_field :image, class: "form__file"
        = f.submit 'Send', class: "form__submit"