.Side-bar
  .left-header
    .list
      = current_user.name
      %ul.icons
        %li.edit
          = link_to new_group_path(current_user), class: "icon" do
            =icon('far', 'edit')
        %li.config
          = link_to edit_user_path(current_user), class: "icon" do
            =icon('fa', 'cog')
  .group
    - current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group) do
          .group-name-2
            = group.name
            .group-message
              = group.show_last_message
